<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <div class="container">
        <h1>Olá, eu sou Jay!</h1>
        <img src="{{ url_for('static', filename='img/jay.jpg') }}" class="avatar">
    </div>
    <footer>
        <hr>
        <small>
            Desenvolvido com ❤️ por <a href="https://www.linkedin.com/in/felipefernand10/" target="_blank">Felipe
                Fernandes</a> 😊<br>
            Gostou? Tem alguma ideia e quer contribuir com esse projeto? <a
                href="https://github.com/felipefernandes/jay-bot" target="_blank">Github</a>.
        </small>
    </footer>
</body>

</html>